.content_post{
  .more
    -# %span= image_tag 'arrow_top.png'
    %ul.more_list
      %li
        = link_to '詳細', "/books/#{book.id}", method: :get
    
    -# = simple_format(review.review)


      %a{:href => "/books/#{@book.title.id}"}
    -# %span.title
        -# %span 投稿者
        = book.title

-#       -# %span.title
-#       -#   = book.title