= form.text_field :title, placeholder: " 絵本のタイトル"
= form.text_field :author, placeholder: " 作者"
= form.file_field :image, placeholder: "Image Url"
-# = form.text_area :review, placeholder: "  感想を書いてください" , rows: "10"
= form.submit "SEND"
