.content
  - @books.each do |book|
    .content_post
      = book.title
      = book.image
      = link_to '詳細', "/books/#{book.id}", method: :get
 

      -# = simple_format(review.review)
  -# = render partial: "book", locals: { book: book }
