// @font-face {
//   font-family: "あめちゃんポップ";
//   src: url("/Users/icecreammikan/projects/picturebook_app/app/assets/fonts")
// }
.header__bar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__logo {
    a{
      font-size: 45px;
      text-decoration: none;
      color: white;
      // font-family: "あめちゃんポップ";
    }
  }
  .header__search {
    #sbox{
      line-height: 20px;
      border-radius:25px;
    }
  }
  .header__post {
    margin-right: 10px;
    text-decoration: none;
    border-radius:15px;
    font-weight: bold;
    color: white;
    a{
      line-height: 30px;
      // background-color: palevioletred;
    }
    // border: solid;
  }
}