// @font-face {
//   font-family: "あめちゃんポップ";
//   src: url("/Users/icecreammikan/projects/picturebook_app/app/assets/fonts")
// }
// .wf-nikukyu {  }
.header__bar {
  position: absolute;
  top: 0px;
  width: 95vw;
  height: 80px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  .header__logo {
    a{
      font-family: "Nikukyu";
      font-size: 50px;
      text-decoration: none;
      color: white;
      font-weight: bold;
      line-height: 80px;
    }
  }

  .header__post {
    margin-right: 30px;
    a{
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: white;
      line-height: 30px;
      font-family: "Nikukyu";
    }
  }
}