.container {
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
  background-color: rgb(238, 238, 196);
  position: relative;
  // top: 100px;
  height: 320px;
  h3{
    font-size: 45px;
    font-weight: bold;
    // text-align: center;
    color: gray;
  }
  // position: absolute;
  // display: inline-block; 
  // width: 100vh;
  // align-items: center;
  // width: 600px;
  // align-items: center;
  // display: flex;
  // justify-content: center


  #book_title{
    display: block;
    height: 35px;
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius:10px;
  }
  #book_author{
    display: block;
    height: 30px;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius:10px;
  }
  #book_image{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  // #book_review{
  //   display: block;
  //   height: 90px;
  //   width: 400px;
  //   margin: 30px auto;
  //   border-radius:10px;
  // }
}